.container {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;

    @include responsive(475px) {
        padding: 1rem;
    }
}

.title {
    font-size: $huge-font;
    margin: 4rem 0;
    color: $title-color;

    @include responsive(500px) {
        font-size: $extra-large-font;
    }
}

.author {
    font-size: $medium-font;
    opacity: .5;
    margin-top: 4rem;
    font-weight: 400;
}

.illustration {
    width: 100%;
    height: 50%;
}