.error {
    margin-top: 4rem;

    &--icon {
        width: 6.4rem;
        height: 6.4rem;
        color: $alert-color;
        margin: 0 auto 5rem auto;
    }

    &--msg {
        font-size: $large-font;
        text-align: center;
    }
}