.messages {
    max-width: 90%;

    h2 {
        font-size: $large-font;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    svg {
        width: 3.2rem;
        height: 3.2rem;
        color: $title-color;
        margin-right: 1rem;
    }

    &--list {
        list-style-type: none;

        &__msg {
            font-size: $medium-font;
            opacity: .85;
            text-align: center;
            margin: 0 auto;
        }
    }
}