$bg-color: #393b44;
$font-color: #f1f3f8;
$title-color: #ed6663;
$alert-color: #ff4b5c;

$huge-font: 4.8rem;
$large-font: 2.4rem;
$medium-font: 1.6rem;
$small-font: 1.2rem;
$base-font: 10px;

$all-transition: all .25s;