<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
        <meta name="description"
            content="A simple URL shortener made with Flask.">
        <meta name="robots"
            content="index,follow">
        <link rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22
                viewBox=%220
                0
                100
                100%22><text y=%22.9em%22
                    font-size=%2290%22 fill='white'>📝</text></svg>">
        <title>{{ title }}</title>
        <link rel="stylesheet"
            href="../static/css/style.css">
    </head>

    <body>
        <main class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="messages">
                <h2><svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>Message</h2>
                <ul class="messages--list">
                    {% for msg in messages %}
                    <li class="messages--list__msg">{{ msg }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </main>
    </body>

</html>